.book .book-body .page-wrapper .page-inner section.quiz {
  border: none;
}

.book .book-body .page-wrapper .page-inner section.quiz .header {
  background: none;
  color: black;
}

.book .book-body .page-wrapper .page-inner section.quiz .question-header {
  background-clip: border-box;
  background-color: rgb(246, 246, 246);
  background-image: none;
  background-origin: padding-box;
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 1.11111116409302px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(34, 34, 34);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 1.11111116409302px;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-width: 1.11111116409302px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: auto;
  display: block;
  font-size: 16px;
  height: 118.645835876465px;
  line-height: 26.6666679382324px;
  max-height: 136px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  position: relative;
  text-align: left;
  text-decoration: none solid rgb(34, 34, 34);
  text-decoration-color: rgb(34, 34, 34);
  text-decoration-line: none;
  text-decoration-style: solid;
}

.book .book-body .page-wrapper .page-inner section.quiz .action-submit {
  background-color: rgb(250, 69, 66);
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-left-radius: 2.99999976158142px;
  border-bottom-right-radius: 2.99999976158142px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(255, 255, 255);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(255, 255, 255);
  border-top-left-radius: 2.99999976158142px;
  border-top-right-radius: 2.99999976158142px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgb(190, 2, 1) 0px 2.99999976158142px 0px 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: auto;
  display: block;
  float: right;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  height: 55.3125px;
  line-height: normal;
  margin-bottom: 2.99999976158142px;
  margin-left: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none solid rgb(255, 255, 255);
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 159.253479003906px;
}

.book .book-body .page-wrapper .page-inner section.quiz .action-solution {
  background-color: rgb(195, 195, 195);
  border-bottom-color: rgb(56, 56, 56);
  border-bottom-left-radius: 2.99999976158142px;
  border-bottom-right-radius: 2.99999976158142px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(56, 56, 56);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(56, 56, 56);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(56, 56, 56);
  border-top-left-radius: 2.99999976158142px;
  border-top-right-radius: 2.99999976158142px;
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: rgb(129, 129, 129) 0px 2.99999976158142px 0px 0px;
  box-sizing: border-box;
  color: rgb(56, 56, 56);
  cursor: auto;
  display: block;
  float: right;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  height: 55.3125px;
  line-height: normal;
  margin-bottom: 2.99999976158142px;
  margin-left: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none solid rgb(56, 56, 56);
  text-decoration-color: rgb(56, 56, 56);
  text-decoration-line: none;
  text-decoration-style: solid;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  width: 208.680557250977px;
}
